.art-boxes{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.art-boxes img {
    width: 800px;
    height: auto;
    margin: 20px;
}

h1{
    font-family: Futura;
    font-size: 27px;
    text-align: justify;
    vertical-align: bottom;
    line-height: 2;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto; 
    margin: 40px;
}