*{
    margin: 0;
    padding: 0;
    font-family: Futura;
}

.banner-title{
    margin: 100px 130px;
    color: black;
}
.banner-title h1{
    font-size: 64px;
    margin-bottom: 30px;
}
.vertical-bar{
    height: 100%;
    background:black;
    top: 0;
    left: 0;
    position: absolute;
}

.social-media{
    height: 100%;
    width: 80px;
    background: bisque;
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
    color: black;
}
.social-media .fa{
    margin: 15px 23px;
    display: block;
    padding: 8px;
    cursor: pointer;
}


a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }