*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    display: flex;
    padding: 40px 120px;
}

.nav-links{
    flex: 1;
}

.nav-links ul{
    margin-left: 50px;
    display: inline;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}
.nav-links ul a{
    color: dimgray;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: "";
    width: 0;
    height: 2px;
    background: #ffe4e1;
    display: block;
    margin: auto;
    transition: .5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.btn{
    padding: 10px 20px;
    border: 0;
    background: #a52a2a;
    font-weight: bold;
    cursor: pointer;
}
.nav-links .btn{
    float: right;
}

.nav-bar{
    padding: absolute;
    right: 20px;
    top: 10px;
}
.fa-bars{
    position: absolute;
    right: 20px;
    top: 10px;
    color: bisque;
}
.nav-bar .fa{
    display: block;
    color: peru;
    margin: 10px 25px;
    font-size: 22px;
    cursor: pointer;
}
.nav-links{
    height: 3500px;
    width: 200px;
    background: #000;
    top: 0;
    right: 0;
    position: absolute;
    text-align: left;
    z-index: 2;
    font-family: "Helvetica Neue";
}
.nav-links ul a{
    display: block;
}
.nav-links .btn{
    float: none;
    margin-left: 25px;
    margin-top: 10px;
}
.nav-bar .fa{
    display: block;
}

@media (max-width: 700px){

    .banner-title{
        margin: 80px 40px;
    }
    .banner-title h1{
        font-size: 50px;
    }
    .nar-bar{
        padding: 10px 30px;
    }
    .fa-bars{
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .nav-bar .fa{
        display: block;
        color: grey;
        margin: 10px 25px;
        font-size: 24px;
        cursor: pointer;
        display: none;
    }
    .nav-links{
        height: 100vh;
        background: bisque;
        top: 0;
        right: -200px;
        position: absolute;
        text-align: left;
        z-index: 2;
    }
    .nav-links ul a{
        display: block;
    }
    .nav-links .btn{
        float: none;
        margin-left: 25px;
        margin-top: 10px;
    } 

}

a:link {
    color: black; 
    background-color: transparent; 
    text-decoration: none;
  }

a:visited {
    color: rgb(201, 65, 24);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }


.animated-text{
    font: 100px;
    font-size: 40px;
    font-family: Futura;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

span{
    display: inline-block;
    font-weight: bolder;
    animation: mover 5s linear infinite;
    color: lightpink;
}



@keyframes mover{
    0%{
        text-shadow: 0 0 30px rgba(0,0,0,0);
    }
    50%{
        text-shadow: 0 0 30px rgba(0,0,0,0.30);
        transform: translateY(30px);
    }
    100%{
        text-shadow: 0 0 30px rgba(0,0,0,0);
    }

}
span:nth-child(1)
{
    animation-delay: 0.5s;
}
span:nth-child(2)
{
    animation-delay: 1s;
}
span:nth-child(3)
{
    animation-delay: 1.5s;
}

.art-boxes img {
    width:560px;
    opacity: 1.0;
    transition: opacity 2s;
    display: inline-block;
}

.art-boxes img:hover{
    opacity: 0.5;
    transition-duration: 2s;
}

.middle {
    transition: .5s ease;
    opacity: 0.2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .text {
    color: pink;
    font-size: 16px;
    padding: 16px 32px;
  }

  .bouton{
    width: 10%;
    margin: 20px;
    margin-bottom: 20px;  
    padding: 5px 15px;
    padding: 10px 20px;
    border: 0;
    background: pink;
    font-weight: bold;
    cursor: pointer;
}

  






