{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block content %}
<div class="nav-logo">
                <img src="{{ url_for('static', filename='gg.jpeg') }}">
        </div>
                <div class="banner-title">
                        <h1>Support a small artist</h1>
                        <button type="button" class="btn"
                                onclick="window.location.href = '/donate' ;">DONATE</button>
                </div>
                <div class="social-media">
                        <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
                        <a href="https://web.whatsapp.com"><i class="fa fa-whatsapp"></i></a>
                </div>
        </div>
        </div>
        <script>
                var show = document.getElementById("nav-links");

                function showMenu() {
                        show.style.right = "0";
                }

                function closeMenu() {
                        show.style.right = "-200px";
                }
        </script>

{% endblock %}