<html>
 <head>
     <title>The Art Shop</title>
     <meta name="viewport" content="width=device-width,initial-scale=1">
     <link rel="stylesheet" href="{{ url_for('static', filename='leon.css') }}">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

        <div class="art-boxes">
                <img src="{{ url_for('static', filename='leon.jpeg') }}" style="height: 800px;width: 620px;margin: 20px"><br> 
        </div>
        <title>LEON, painting</title>
        <br><h1>This is a painting of the infamous poster of Luc Besson's masterpiece "Leon: The Professional". We can see Leon (Jean Reno) with sunglasses staring at NY's skyline. If you are interested in learning more about or purchasing this piece, please contact me for further information.</h1><br> 