{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='third.css') }}">
{% endblock %}

{% block content %}

        <div class="animated-text">
                <span>THE</span>
                <span>ART</span>
                <span>SHOP</span>
                </div>
           
            <div class="art-boxes">
                {% for artwork in artworks %}
                <img src="{{ url_for('static', filename=artwork.image) }}" style="height: 800px;width:auto;margin: 20px"><br> 
                <button type="button" class="bouton" onclick="window.location.href = '/details/{{ artwork.path }}' ;">DETAILS</button><br>
                {% endfor %}
                
                  </div>
              </div>

           
           
        

            <script>
                    var show = document.getElementById("nav-links");
                    function showMenu(){
                            show.style.right = "0";      
                    }
                    function closeMenu(){
                            show.style.right = "-200px";      
                    }
            
            </script>
{% endblock %}
            