{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='third.css') }}">
{% endblock %}

{% block content %}

        <div class="animated-text">
                <span>THE</span>
                <span>ART</span>
                <span>SHOP</span>
                </div>
           
            <div class="art-boxes">
                    <img src="{{ url_for('static', filename='leon.jpeg') }}" style="height: 800px;width: 620px;margin: 20px"><br> 
                    <button type="button" class="bouton" onclick="window.location.href = '/leon' ;">DETAILS</button><br>
                    <img src="{{ url_for('static', filename='hippie.jpeg') }}" style="height: 800px;width: 560px;padding: 20px"><br>
                    <button type="button" class="bouton" onclick="window.location.href = '/kanja' ;">DETAILS</button><br>
                    <img src="{{ url_for('static', filename='bath.jpeg') }}"style="height: 800px;width: 800px;padding: 20px"><br>
                    <button type="button" class="bouton" onclick="window.location.href = '/bath' ;">DETAILS</button><br>
                    <img src="{{ url_for('static', filename='hall.jpeg') }}"style="height: 800px;width: 560px;padding: 20px"><br> 
                    <button type="button" class="bouton" onclick="window.location.href = '/hall' ;">DETAILS</button><br>
                  </div>
              </div>

           
           
        

            <script>
                    var show = document.getElementById("nav-links");
                    function showMenu(){
                            show.style.right = "0";      
                    }
                    function closeMenu(){
                            show.style.right = "-200px";      
                    }
            
            </script>
{% endblock %}
            