<html>
        <head>
            <meta name="viewport" content="width=device-width,initial-scale=1">
            <link rel="stylesheet" href="second.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
       </head>

<!--sign up and login page-->
       <div class="loginbox">
        <form class="register">
<!--fill-out squares-->
    <h1>LOG IN</h1>
        <input type="text" placeholder="email"/>
        <input type="text" placeholder="password"/><br>
        <button type="button" class="btn" onclick="window.location.href = 'index.html' ;">LOG IN</button><br>
        <a href="#">Lost your password?</a><br>
                                      
        <a href="#">Don't have an account?</a><br>

        </form>
</div>
